* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Ubuntu;
}

body {
  margin: 0%;
  padding: 0;
  background-color: rgb(184, 57, 57);
}

/* animation class*/
.anime {

  /*Cool marine gradient: Grey, blue, violet, grey again */
  background: linear-gradient(-90deg,
      #2c3e50,
      #2a1c20,
      #1d2671,
      #141e30,
      #6dd5ed);
  background-size: 400% 400%;
  animation: backgroundChange4 3s ease infinite;
}

@keyframes backgroundChange4 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

}

@keyframes drop {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }

  10% {
    opacity: 1;
    transform: translatex(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  from {
    border-color: rgb(240, 205, 139);
  }

  to {
    border-color: transparent
  }

}

.gradient {
  --pc: 0%;
  --co: 100%;

  width: 100vw;
  height: 100vh;
  transition: --pc 3s, --co 3s;
  background: linear-gradient(30deg, purple var(--pc), coral var(--co), orange);
}

/* typing effect */
.container1 {
  display: inline-block;
}

.container2 {
  display: inline-block;
}

.container3 {
  display: inline-block;
}


.c1 {
  animation: typing 1s steps(20, end) forwards,
    blink .8s infinite;
}

.c2 {
  animation: typing 1s steps(20, end) forwards,
    blink .8s infinite;
  animation-delay: 1s;
}

.c3 {
  animation: typing 1s steps(20, end) forwards,
    blink .8s infinite;
  animation-delay: 2s;
}

/* end */

.btn {
  color: aliceblue;
}

.btn:hover {
  color: #a09e9e;
}

a {
  text-decoration: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  box-shadow: 7.43055534362793px 14.86111068725586px 26px rgba(0, 0, 0, 0.15000000596046448);
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  background-color: antiquewhite;
}
.sidebar-toggle{
  display: none;
}
.sidenav{
  display: none;
}
.navbar {
  height: 4rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
}


.navlinks {
  display: flex;
  flex-direction: row;
  padding: 0;
  right: 0rem;
  z-index: 2;
}

.navlink {
  margin: 0 1em;
}

.navlink>a {
  font-size: 1.7rem;
  font-weight: 600;
}

.navlink>a:hover {
  color: rgb(221, 201, 201);
}

.btn-group {
  width: fit-content;
  margin: 0;
  margin-top: 3rem;
  display: flex;
  padding: 1rem 0;
}

.btn-each {
  font-size: 1rem;
  width: 15rem;
  height: 5rem;
  background-image: linear-gradient(90deg, #050505 3.66%, #275c737f 45.35%, #ff0000 70%, #ff00d9 94.35%);
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid whitesmoke;
}
.btn-right{
  margin-left: 3rem;
}

.heading {
  margin-top: 4em;
}

.heading1 {
  color: rgb(255, 255, 255);
  font-family: Ubuntu-condensed, sans-serif;
  font-size: 4rem;
  overflow: hidden;
  text-align: left;
  text-shadow: 3px 3px 3px #4d4646;
  font-weight: 900;
  white-space: nowrap;
  width: 0;
}

.shadow {
  width: 22em;
  animation: drop 500ms ease infinite;

}

/* desktop */

  .container {
    padding: 3em;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .content {
    width: 60%;
    overflow: hidden;
    padding-left: 2rem;
  }


  .navlinks {
    position: absolute;
  }
  .container4{
    display: none;
  } 
   .heading {
    width: 90%;
  }

  .heading2 {
    margin-top: 2rem;
    width: 60%;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    display: block;
  }

  .avatar {
    height: auto;
    width: 40%;
  }

  .road {
    width: 60%;
    height: 100%;
    opacity: 1;
    top: 0px;
    right: 0px;
    overflow: hidden;
    position: absolute;
  }

  .road>img {
    height: 100%;
    width: 100%;
  }

  .shadow-container {
    width: fit-content;
    overflow: hidden;
    position: absolute;
    right: 20rem;
    bottom: 5rem;
  }

  @media only screen and (max-width: 1200px) {
    html {
      font-size: 9px;
    }


    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: -30px;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 60px 20px 0 10px;
      display: block;
    }
    .sidebar-toggle{
      display: block;
      position: fixed;
      top: auto;
      right: 3rem;
      margin: 0;
    }
    .sidebar-toggle:hover{
    color: white;
    }

    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #000000;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 45px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }    
  }



/* mobile website */

@media only screen and (max-width: 1000px) {
  html {
    font-size: 8.5px;
  }

  body {
    height: 100%;
    overflow: hidden;
  }

  .container {
    padding: 4rem;
  }
  .container4{
    display: block;
  } 
  .content {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
  }
  .container1{
    display: none;
  }
  .container2{
    display: none;
  }
  .container3{
    display: none;
  }
  .container4{
    color: rgb(255, 255, 255);
    font-family: Ubuntu-condensed, sans-serif;
    font-size: 4rem;
    overflow: hidden;
    text-shadow: 3px 3px 3px #4d4646;
    font-weight: 900;
    text-align: left;
  }

  .navbar {
   
  }

  .navlinks {
    display: none;
  }

  .navlink>a {
    font-size: 1rem;
    font-weight: 400;
  }
  .heading {
    margin-top: 15em;
  }


  .heading2 {
    margin-top: 3rem;
    width: 90%;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .btn-group {
    width: fit-content;
    display: flex;
    margin-top: 3rem;

  }
  .avatar {
    display: none;
  }

  .shadow {
    width: 22em;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    padding: 3rem;
  }
  html{
    font-size: 8px;
}
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 3rem;
  }
  html{
    font-size: 7.8px;
}
}

@media only screen and (max-width: 300px) {
  html{
  font-size: 6px;
}
}